<% layout('layout') %>

<form method="post" action="/add">
  <div class="mb-3">
    <label for="title" class="form-label">Заголовок</label>
    <input type="text" class="form-control" name="title" />
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Ссылка на изображение</label>
    <input type="text" class="form-control" name="image" />
  </div>

  <div class="mb-3">
    <label for="text" class="form-label">Текст</label>
    <textarea rows="5" type="text" class="form-control" name="text"></textarea>
  </div>

  <button type="submit" class="btn btn-success">Добавить</button>
</form>
